
activationtype=active
casttarget.casttarget=soldier
casttarget.targetsoldierside=enemy
area.areatype=circle
area.travelspeed.values=20,0.0
area.collidewith=actors,obstacles
area.stateids=travel
area.radius.values=0.5,0
area.pathofs.type=arc
area.pathofs.curveheightscalefactor=0.05

castrange.values=15,0
castrangemin=30
cooldown.values=1.0,0

# ehelyett valami jobb kell
bonetolink=lefthand
casttargetzofs=15
flags=ice,elemental

statecount=3
state[0].name=cast
state[0].animinfo.animtype=Cast Rifle
state[1].name=travel
state[1].duration=-1.0
state[2].name=default

targetgroupcount=1
targetgroup[0].actiontarget=hit_actor
targetgroup[0].areaindex=0
targetgroup[0].areatargetside=enemy

actioncount=4

action[0].actiontype=damage__new
action[0].targetgroupindex=0
action[0].spellpowermul.values=0.8,0.0
action[0].damagetypeweights=ice

action[1].actiontype=modifier__new
action[1].targetgroupindex=0
action[1].maxrefreshcount=1
action[1].timedduration.values=3.0,0.0
action[1].mod.prioritygroup=bonus_percent
action[1].mod.property=speed
action[1].mod.values=-20.0,0.0

action[2].actiontype=effect__new
action[2].nontgtarget=owner
action[2].stateids=travel
action[2].filename=VHIII\Monster_skills\Centauress_arrow\centauress_arrow.N2E
action[2].linkdesc0.linktype=position
action[2].linkdesc0.rotate=1
action[2].detachtime=0.0

action[3].actiontype=effect__new
action[3].nontgtarget=owner
action[3].filename=VHIII\Monster_skills\Centauress_arrow\centauress_arrow_impact.N2E
action[3].linkdesc0.linktype=position

AItimetowaitbeforefirstcastsec=0
AItimetowaitaftercastaigroupsec=0
AIcountmax=5
AIcanaicastonsametarget=4

AIPriority=1