
activationtype=active
casttarget.casttarget=area
casttarget.targetsoldierside=
#	casttarget.orientedcastdistance=30
castdistanceforcontroller.values=5.0,0

area.areatype=circle
area.pathofs.type=arc
area.pathofs.curveheightscalefactor=0.1
area.stateids=travel
area.travelspeed.values=20.0,0
area.collidewith=castpos,obstacles

cooldown.values=15,-.75
manacost.values=75,-2.5


bonetolink=leftweapon
#	category=buff
flags=mechanical,summoning,robot
learncost=2
powerups=damage,hp,heal

targetgroupcount=1
targetgroup[0].actiontarget=created_targets
targetgroup[0].clearafterperiodtick=1

statecount=4
state[0].name=cast
state[0].animinfo.animtype=CastSpell
state[1].name=travel
state[1].duration=-1
state[2].name=spawn
state[3].name=default

actioncount=3
action[0].actiontype=mechanical__new
action[0].nontgtarget=owner
action[0].maxrefreshcount=1
action[0].stateids=spawn
action[0].soldiertype=assault_mechanoid
action[0].count.values=1,0
action[0].noloot=1
action[0].followcaster=1
action[0].skillstoboost=buff__AssaultMechanoid__attack,buff__AssaultMechanoid__passive
action[0].skillstosetlevel=buff__AssaultMechanoid__attack,buff__AssaultMechanoid__passive

action[0].damageproptype=base_property_mul_constr_minion_damage
action[0].damage.values=1.0,0
action[0].damagetag=petDMG_
#action[0].setartifactenchanctdamages=1
action[0].maxhptype=base_property_mul_constr_minion_hp
action[0].maxhp.values=1.00,0.10
action[0].maxhptag=hp_

action[0].defensemul.values=1.0,0.0
action[0].resistancemul.values=1.0,0.0

action[0].damagepercentbonus.boosts=damage(50.0),synergy_tier1(3.0)
action[0].damagepercentbonus.boosttag=damagebonus_
action[0].damagepercentbonus.boosttagformattype=percent
action[0].hppercentbonus.boosts=hp(60.0)
action[0].hppercentbonus.boosttag=hpbonus_
action[0].hppercentbonus.boosttagformattype=percent
action[0].resurrectchance.boosts=resurrect_m0(20.0)
action[0].forcehalaltype=disappear
action[0].spawnedsoldierstgindex=0


action[1].actiontype=effect__new
action[1].nontgtarget=owner
action[1].stateids=travel
action[1].filename=Akna_dobas\akna_dobas.N2E
action[1].linkdesc0.linktype=position
action[1].stoponstateend=1
action[1].fadeouttime=0.4
action[1].detachtime=0.0

action[2].actiontype=effect__new
action[2].targetgroupindex=0
action[2].maxrefreshcount=1
action[2].filename=VHII\Monsters\summon_mechanical\summon_mechanical.N2E
action[2].linkdesc0.linktype=position
